.presentacion {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    
}

.titulo{
    color: red;
    text-align: center;
}

.carita {
    width: 100px;
    height: auto;
    
}
